<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>TVアニメ「ダーリン・イン・ザ・フランキス」エンディング集 Vol.1</string>
	<key>artistName</key>
	<string>XX:me</string>
	<key>coverURL</key>
	<string>/now-playing.widget/lib/cover514.jpg</string>
	<key>currentPosition</key>
	<string>0</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>/Users/helloyeew/Library/Application Support/Übersicht/widgets/now-playing.widget/lib/cover514.jpg</string>
	<key>songChanged</key>
	<string>true</string>
	<key>songDuration</key>
	<string>225</string>
	<key>songName</key>
	<string>真夏のセツナ</string>
	<key>songYear</key>
	<string>2018</string>
</dict>
</plist>
